@model UsluzniObrt.MVC.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="row position-relative">

            <div class="card text-center mx-auto">
                <div class="card-header">
                    <h2 class="text-success">Table Number: @ViewBag.Table</h2>
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">Proizvodi</h5>
                    <p class="card-text">

                        @foreach (var item in Model.itemOrderList)
                        {

                            <table>
                                <tr>
                                    <td> Product Name: @item.MenuItem.Name 
                                    Product Quantity: @item.Quantity</td>
                                </tr>
                            </table>
                            
                        }
                    </p>
                </div>
                <div class="card-footer text-muted">
                    @switch (Model.Order.Status)
                    {
                        case UsluzniObrt.Model.OrderStatus.Pending:
                            <p class="text-secondary">Status:</p>
                            <p class="text-warning">Pending</p>
                            break;
                        case UsluzniObrt.Model.OrderStatus.Declined:
                            <p class="text-secondary">Status:</p>
                            <p class="text-danger">Declined</p>
                            break;
                        case UsluzniObrt.Model.OrderStatus.InProgress:
                            <p class="text-secondary">Status:</p>
                            <p class="text-primary">In Progress</p>
                            break;
                        case UsluzniObrt.Model.OrderStatus.Completed:
                            <p class="text-secondary">Status:</p>
                            <p class="text-success">Completed</p>
                            break;
                        default:
                            break;
                    }
                </div>
            </div>
        </div>

    </div>


