<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Uslužni Obrt</div>
    <div class="list-group list-group-flush">
        @Html.ActionLink("Menu", "Menu", new { id = ViewBag.Table }, new { @class = "list-group-item list-group-item-action bg-light" })
        @Html.ActionLink("Order", "MyOrder", new { id = ViewBag.Table }, new { @class = "list-group-item list-group-item-action bg-light" })
    </div>
</div>